{{template "head" .}}
{{template "site_header" .}}
<div id="primary" class="content-area with-sidebar">
	<main id="main" class="site-main" role="main">
		<article class="post post-list">
			<div class="post-entry">
				<h1 class="entry-title">404</h1>
				<p>This page does not exist yet.</p>
			</div>
		</article>
	</main>
	{{template "sidebar" .}}
</div>
{{template "site_footer" .}}
