{{template "head" .}}
{{template "site_header" .}}
<div id="primary" class="content-area with-sidebar single-post-layout">
	<main id="main" class="site-main" role="main">
		<article class="post type-post status-publish sakurairo-single" {{if eq .Site.PostCopyNotice "1"}}data-copy-notice="1" data-copy-title="{{.Post.Title}}" data-copy-url="{{.CanonicalURL}}" data-copy-site="{{.Site.Name}}" data-copy-license="{{.Site.PostLicenseText}}"{{end}}>
			{{if .Post.CoverImage}}<div class="single-cover" style="background-image:url('{{.Post.CoverImage}}')"></div>{{end}}
			<header class="entry-header">
				<p class="single-kicker"><i class="iconfont icon-sakura"></i> {{.Site.Name}}</p>
				<h1 class="entry-title">{{.Post.Title}}</h1>
				{{if eq .Post.Status "private"}}<p class="private-post-notice"><i class="fa fa-lock" aria-hidden="true"></i> Private post, visible only while signed in.</p>{{end}}
				<div class="entry-census">
					<span><i class="iconfont icon-time"></i>{{since .Post.PublishedAt}}</span>
					<span><i class="iconfont icon-attention"></i>{{.Post.Views}} Views</span>
					<span><i class="fa fa-heart-o" aria-hidden="true"></i>{{.Post.Likes}} Likes</span>
					<span><i class="iconfont icon-mark"></i>{{.Post.CommentCount}} Comments</span>
				</div>
			</header>
			{{if .Post.Outline}}
			<nav class="article-toc" aria-label="Article contents">
				<p><i class="fa fa-list-ul" aria-hidden="true"></i> Contents</p>
				<ol>
					{{range .Post.Outline}}<li class="toc-level-{{.Level}}"><a href="#{{.ID}}">{{.Title}}</a></li>{{end}}
				</ol>
			</nav>
			{{end}}
			<div class="entry-content">
				{{.Post.ContentHTML}}
			</div>
			<footer class="post-footer">
				{{if .Site.PostLicenseText}}
				<div class="post-lincenses">
					{{if .Site.PostLicenseURL}}
					<a href="{{.Site.PostLicenseURL}}" target="_blank" rel="nofollow noreferrer"><i class="fa fa-creative-commons" aria-hidden="true"></i> {{.Site.PostLicenseText}}</a>
					{{else}}
					<span><i class="fa fa-creative-commons" aria-hidden="true"></i> {{.Site.PostLicenseText}}</span>
					{{end}}
				</div>
				{{end}}
				{{if eq .Site.PostShare "1"}}
				<div class="post-share" aria-label="Share article">
					<span><i class="fa fa-share-alt" aria-hidden="true"></i> Share</span>
					<a href="https://twitter.com/intent/tweet?url={{urlquery .CanonicalURL}}&text={{urlquery .Post.Title}}" target="_blank" rel="nofollow noreferrer" aria-label="Share to X"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{urlquery .CanonicalURL}}" target="_blank" rel="nofollow noreferrer" aria-label="Share to Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="https://t.me/share/url?url={{urlquery .CanonicalURL}}&text={{urlquery .Post.Title}}" target="_blank" rel="nofollow noreferrer" aria-label="Share to Telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a>
					<a href="https://service.weibo.com/share/share.php?url={{urlquery .CanonicalURL}}&title={{urlquery .Post.Title}}" target="_blank" rel="nofollow noreferrer" aria-label="Share to Weibo"><i class="fa fa-weibo" aria-hidden="true"></i></a>
					<button type="button" data-copy-share="{{.CanonicalURL}}" aria-label="Copy article link"><i class="fa fa-link" aria-hidden="true"></i><span>Copy link</span></button>
				</div>
				{{end}}
				{{if eq .Site.PostReward "1"}}
				<div class="post-reward">
					<button type="button" class="post-reward-toggle" aria-expanded="false"><i class="fa fa-coffee" aria-hidden="true"></i><span>Support</span></button>
					<p>{{.Site.PostRewardText}}</p>
					<div class="post-reward-codes" hidden>
						{{if .Site.PostRewardAlipay}}<figure><img src="{{.Site.PostRewardAlipay}}" alt="Alipay reward QR code"><figcaption>Alipay</figcaption></figure>{{end}}
						{{if .Site.PostRewardWechat}}<figure><img src="{{.Site.PostRewardWechat}}" alt="WeChat reward QR code"><figcaption>WeChat</figcaption></figure>{{end}}
					</div>
				</div>
				{{end}}
				<div class="single-taxonomy">
					{{if .Post.Category.ID}}<div class="post-tags"><i class="fa fa-folder-o" aria-hidden="true"></i> <a href="/category/{{.Post.Category.Slug}}">{{.Post.Category.Name}}</a></div>{{end}}
					{{if .Post.Tags}}<div class="post-tags"><i class="iconfont icon-tags"></i> {{range .Post.Tags}}<a href="/tag/{{.Slug}}">{{.Name}}</a> {{end}}</div>{{end}}
				</div>
			</footer>
		</article>
		<section class="single-author">
			<img src="{{.Site.Avatar}}" alt="{{.Site.Author}}">
			<div>
				<p>Written by</p>
				<h2>{{.Site.Author}}</h2>
				<span>{{.Site.Description}}</span>
				{{if .Site.SocialLinks}}
				<div class="koimoe-social-links author-social-links">
					{{range .Site.SocialLinks}}<a href="{{.URL}}" target="_blank" rel="nofollow noreferrer" aria-label="{{.Label}}" title="{{.Label}}"><i class="fa {{.Icon}}" aria-hidden="true"></i></a>{{end}}
				</div>
				{{end}}
			</div>
			<div class="single-actions">
				<button class="post-like-button" type="button" data-post-id="{{.Post.ID}}" data-like-key="koimoe-liked-{{.Post.ID}}">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<span>Like</span>
					<strong>{{.Post.Likes}}</strong>
				</button>
				<a href="#comments"><i class="iconfont icon-mark"></i> Comment</a>
			</div>
		</section>
		{{if or .PreviousPost.ID .NextPost.ID}}
		<nav class="post-nextprev" aria-label="Adjacent posts">
			{{if .PreviousPost.ID}}
			<a class="prev" href="/post/{{.PreviousPost.Slug}}">
				<span><i class="iconfont icon-back"></i> Older Post</span>
				<strong>{{.PreviousPost.Title}}</strong>
			</a>
			{{else}}<span></span>{{end}}
			{{if .NextPost.ID}}
			<a class="next" href="/post/{{.NextPost.Slug}}">
				<span>Newer Post <i class="iconfont icon-right"></i></span>
				<strong>{{.NextPost.Title}}</strong>
			</a>
			{{else}}<span></span>{{end}}
		</nav>
		{{end}}
		{{template "comments" .}}
	</main>
	{{template "sidebar" .}}
</div>
{{template "site_footer" .}}
