{{template "head" .}}
{{template "site_header" .}}
<div id="primary" class="content-area with-sidebar">
	<main id="main" class="site-main" role="main">
		<article class="post type-post status-publish">
			<header class="entry-header">
				<h1 class="entry-title">{{.Post.Title}}</h1>
				<p class="entry-census">{{since .Post.PublishedAt}}&nbsp;&nbsp;{{.Post.Views}} Views</p>
				<hr>
			</header>
			<div class="entry-content">
				{{.Post.ContentHTML}}
			</div>
			<footer class="post-footer">
				<div class="post-lincenses"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank" rel="nofollow"><i class="fa fa-creative-commons" aria-hidden="true"></i> Attribution-NonCommercial-ShareAlike 4.0 International</a></div>
				{{if .Post.Category.ID}}<div class="post-tags"><i class="fa fa-folder-o" aria-hidden="true"></i> <a href="/category/{{.Post.Category.Slug}}">{{.Post.Category.Name}}</a></div>{{end}}
				{{if .Post.Tags}}<div class="post-tags"><i class="iconfont icon-tags"></i> {{range .Post.Tags}}<a href="/tag/{{.Slug}}">{{.Name}}</a> {{end}}</div>{{end}}
			</footer>
		</article>
		{{template "comments" .}}
	</main>
	{{template "sidebar" .}}
</div>
{{template "site_footer" .}}
